<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Home</title>
</head>
<body>

<h1> Trang chủ</h1>

<!-- Chưa login -->
<div sec:authorize="isAnonymous()">
    <a th:href="@{/auth/login}">🔐 Đăng nhập</a><br>
    <a th:href="@{/auth/register}">📝 Đăng ký</a>
</div>

<!--  Đã login -->
<div sec:authorize="isAuthenticated()">
    <p>
        Xin chào,
        <b sec:authentication="name"></b>
    </p>

    <form th:action="@{/logout}" method="post">
        <button type="submit">🚪 Logout</button>
    </form>
</div>

<hr>

<a href="/products">Xem sản phẩm</a>

</body>
</html>