<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Login</title>

    <script src="https://cdn.tailwindcss.com"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>

<body class="bg-gray-100 flex items-center justify-center min-h-screen">

    <div class="bg-white rounded-2xl shadow-lg flex w-[800px] min-h-[500px] overflow-hidden">

        <!-- LEFT -->
        <div class="w-1/2 bg-gradient-to-b from-blue-400 to-blue-200 flex items-center justify-center">
            <div class="text-center">
                <img th:src="@{/img/image.png}" class="w-60 mx-auto">
                <h2 class="text-2xl font-bold text-yellow-400 mt-4">THOI TRAN GIA DINH</h2>
            </div>
        </div>

        <!-- RIGHT -->
        <div class="w-1/2 p-8 flex flex-col justify-center overflow-y-auto">

            <h2 class="text-2xl font-bold mb-6 text-center">Login</h2>

            <div th:if="${errorLogin}" class="text-red-500 text-sm text-center mb-3">
                Sai tài khoản hoặc mật khẩu
            </div>
            <div th:if="${success}" class="text-green-500 text-sm text-center mb-3">
                Tao tai khoan thanh cong
            </div>

            <form th:action="@{/auth/login}" method="post">

                <!-- EMAIL -->
                <div class="mb-4 relative">
                    <i class="fa fa-user absolute left-3 top-3 text-gray-400"></i>
                    <input name="email" placeholder="Email" th:value="${email}"
                        class="w-full pl-10 py-2 border rounded-lg focus:ring-2 focus:ring-blue-400">
                </div>

                <!-- PASSWORD -->
                <div class="mb-2 relative">
                    <i class="fa fa-lock absolute left-3 top-3 text-gray-400"></i>
                    <input id="loginPass" type="password" name="password" placeholder="Password" th:value="${password}"
                        class="w-full pl-10 pr-10 py-2 border rounded-lg focus:ring-2 focus:ring-blue-400">

                    <i class="fa fa-eye absolute right-3 top-3 cursor-pointer text-gray-500"
                        onclick="togglePassword('loginPass')"></i>
                </div>

                <div class="text-right mb-4">
                    <a href="#" class="text-sm text-blue-500">Forgot password?</a>
                </div>

                <button class="w-full bg-blue-500 text-white py-2 rounded-lg hover:bg-blue-600">
                    LOG IN
                </button>
            </form>

            <p class="text-center text-sm mt-4">
                Don’t have an account?
                <a th:href="@{/auth/register}" class="text-blue-500">Register</a>
            </p>

        </div>
    </div>

    <script>
        function togglePassword(id) {
            const input = document.getElementById(id);
            input.type = input.type === "password" ? "text" : "password";
        }
    </script>

</body>

</html>